.main-section {
  padding: 200px;
}
.main-section h1 {
  text-align: center;
}

.nc-events img {
  padding-top: 100px;
  transition: transform 0.3s ease-in-out;
}

.nc-events img:hover {
  transform: scale(1.05);
}
