.nc-navbar {
  z-index: 999;
  padding: 30px 60px;
  font-weight: 400;
  border-bottom: var(--border-modals);
}

.logo {
  max-width: 40px;
}

.nc-logo {
  gap: 10px;
}

.links {
  padding-right: 150px;
  list-style: none;
  gap: 4rem;
  font-size: 18px;
  font-weight: 400;
}

.links li {
  cursor: pointer;
}

.dropdown {
  position: relative;
  font-size: var(--navbar-text);
  margin-bottom: 1px;
  padding-bottom: 1px;
}
.dropdown-menu.show {
  opacity: 1;
  visibility: visible;
}

.dropdown-menu {
  position: absolute;
  background-color: #fefefe;
  color: var(--primary-color);
  list-style: none;
  padding: 0px 60px 20px 15px;
  margin-top: 10px;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  border: solid 1px var(--primary-color);
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.dropdown-menu a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 400;
}

.nc-navbar span {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-inline: 2px;
}

.links span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease-in-out;
}

.links span:hover::after {
  width: 100%;
}

.container-icons {
  position: relative;
}
.count-products {
  position: absolute;
  top: 55%;
  right: 60%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  font-size: 10px;
}

.dropdown-menu li {
  position: relative; /* Espacio entre categorías */
}

.dropdown-menu li a {
  text-decoration: none;
  color: var(--primary-color);
  position: relative;
  padding: 3px 0; /* Espaciado para que el hover no se corte */
  display: inline-block;
}

.dropdown-menu li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease-in-out;
}

.dropdown-menu li a:hover::after {
  width: 100%;
}

.categories {
  padding-bottom: 1px;
}
